In [5]:
import pandas
import datetime
from geopy.geocoders import Nominatim

data = pandas.read_csv("data.csv")

ModuleNotFoundError: No module named 'geopy'

In [4]:
data

   ID                                          Address          Name  Employees  Latitude  Longitude
0   1          3666 21st St San Francisco CA 94114 USA       Madeira          8       NaN        NaN
1   2        735 Dolores St San Francisco CA 94119 USA   Bready Shop         15       NaN        NaN
2   3   332 Hill St San Francisco California 94114 USA   Super River         25       NaN        NaN
3   4          3995 23rd St San Francisco CA 94114 USA    Ben's Shop         10       NaN        NaN
4   5     1056 Sanchez St San Francisco California USA       Sanchez         12       NaN        NaN